<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX_kyxTUe45mvedJEs2VR_7pNiTC0TdQM</string>
	<key>GCM_SENDER_ID</key>
	<string>361584394408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthFormApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>healthform-6a3e0</string>
	<key>STORAGE_BUCKET</key>
	<string>healthform-6a3e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361584394408:ios:f0e2a263c6a4cb4c65029d</string>
</dict>
</plist>